/* Responsive pantallas > 1025px y <= 1920px */

@import url('./../models/variables.css');
@import url('./../models/essentials.css');



/* LANDING PAGE */
@media  (min-width: 1025px) {
    /* Encabezado */
    .encabezado {
        height: 100vh;
        padding: 3rem 3rem;

        & .encabezado__img {
            height: 100vh;
        }

        & .hero {
            & .hero__textos {
                & .textos__titulo {
                    font-size: calc(var(--sz_letraTitulo) + 8px);
                    letter-spacing: 5px;

                    & .titulo__texto {
                        margin-bottom: 1rem;
                    }
                }

                & .textos__descripcion {
                    font-family: var(--ff_estandar6);
                    font-size: calc(var(--sz_letraSubtitulo) + 6px);
                }
            }

            & .hero__btns {
                & .btns__comenzar {
                    font-size: calc(var(--sz_letraSubtitulo) + 2px);
                    padding: 2% 7.9%;

                    & svg {
                        width: 30px;
                    }

                    & .arr-1 {
                        right: 31px;
                        bottom: 20px;
                    }

                    & .arr-2 {
                        bottom: 21px;
                    }

                    &:hover {
                        & .arr-2 {
                            left: 27px;
                        }
                    }
                }

                & .btns__sabermas {
                    font-size: var(--sz_letraSubtitulo);

                    &:hover {
                        &::before {
                            top: -75%;
                            left: -56px;
                        }
                    }

                    &::before {
                        width: 600px;
                        height: 400px;
                    }
                }
            }
        }
    }

    /* Principal */
    .principal {
        & .infoinicial {
            margin-bottom: 6rem;
            gap: 1rem;

            & .infoinicial__titulo {
                font-size: calc(var(--sz_letraTitulo) + 1rem);
                letter-spacing: 3px;
            }

            & .infoinicial__descripcion {
                font-size: calc(var(--sz_letraSubtitulo) + 6px);
            }
        }
    }

    /* Pie De Página */
    .pieDePagina {
        & .infoPagina {
            & .infoPagina__anyo {
                width: 62.4rem;

                & .anyo__figura {
                    width: 17rem;
                    height: 5rem;
                    font-size: var(--sz_letraTitulo);
                    border: 5px solid var(--color_blanco);

                    &::before {
                        width: 65rem;
                        height: 5px;
                    }

                    &::after {
                        width: 46rem;
                        font-size: calc(var(--sz_letraTitulo) + 1.4rem);
                    }
                }
            }

            & .infoPagina__lugar {
                width: 62.4rem;

                & .lugar__figura {
                    width: 17rem;
                    height: 5rem;
                    font-size: var(--sz_letraTitulo);
                    border: 5px solid var(--color_blanco);

                    &::before {
                        width: 65rem;
                        height: 5px;
                    }

                    &::after {
                        width: 46rem;
                        font-size: calc(var(--sz_letraTitulo) + 1.4rem);
                    }
                }
            }
        }
    }
}


/* LOGIN PAGE */
@media screen and (min-width: 1150px) {
    .container {
        margin-inline: auto;
    }

    .login__area {
        width: 460px;
        margin: initial;
    }

    .login__access,
    .login__register {
        width: 600px;
    }

    .login__title {
        text-align: initial;
        margin-bottom: 3rem;
    }

    .login__button {
        margin-bottom: 3rem;
    }

    .login__group {
        grid-template-columns: repeat(2, 1fr);
    }

    .login__blob {
        display: block;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
    }

    .login__img {
        transform: translate(0rem, 0rem);
    }
}


/* SETTINGS PAGE */
@media (min-width: 1025px) and (max-width: 1440px) {
    & .principal {
        grid-template-areas: 
            "mysql personal"
            "mysql personal"
            "mysql personal"
            "mysql personal"
            "mysql personal"
            "mysql personal"
            "mysql personal"
            "mysql personal"
            "mysql personal"
            "mysql personal"
            "btns personal"
            "btns personal"
        ;
        padding-bottom: 4rem;

        & .principal__btns {
            & .btns__guardar {
                & .guardar__contenedorCargar {
                    & .contenedorCargar__loader {
                        transform: translateX(-21em);
                    }
                }
            }
        }
    }
}

@media (min-width: 1441px) {
    & .principal {
        grid-template-areas: 
            "mysql personal"
            "mysql personal"
            "mysql personal"
            "mysql personal"
            "mysql personal"
            "mysql personal"
            "mysql personal"
            "mysql personal"
            "mysql personal"
            "btns personal"
            "btns personal"
            "btns personal"
        ;
        padding-bottom: 5rem;

        & .principal__btns {
            & .btns__guardar, .btns__rehacer {
                width: var(--calc_widthBtns);
                height: 4.5rem;
                font-size: calc(var(--sz_letraGrande) - 1);
            }

            & .btns__guardar {
                & .guardar__contenedorCargar {
                    & .contenedorCargar__loader {
                        transform: translateX(-30em);
                    }
                }
            }

            & .btns__rehacer {
                font-size: var(--sz_letraGrande);

                & .rehacer__icono {
                    right: 10px;

                    & svg {
                        width: 18px;
                    }
                }
            }
        }
    }
}


/* PRINCIPAL APP KARDIAEVA */
@media (min-width: 1536px) {
    .main {
        padding: 3rem 6rem;
    }
}