/* Responsive pantallas >375px y <=480px */

@media (max-width: 480px) and (min-width: 376px) {
    /* Encabezado */
    .encabezado {
        padding: 2.7rem 1.6rem;

        & .hero {
            & .hero__textos {
                font-size: var(--sz_letraMediana);

                & .textos__titulo {
                    font-size: 22px;
                }

                & .textos__descripcion {
                    font-size: var(--sz_letraGrande);
                }
            }

            & .hero__btns {
                & .btns__comenzar {
                    font-size: var(--sz_letraSemigrande);

                    & svg {
                        width: 20px;
                    }

                    & .arr-1 {
                        right: 14px;
                        bottom: 12px;
                    }

                    & .arr-2 {
                        bottom: 12px;
                    }

                    &:hover {
                        & .arr-2 {
                            left: 12px;
                        }
                    }
                }

                & .btns__sabermas {
                    font-size: var(--sz_letraSemigrande);
                }
            }
        }
    }

    /* Principal */
    .principal {
        padding: 4rem 1.5rem;

        & .infoinicial {
            & .infoinicial__titulo {
                font-size: 30px;
                font-weight: bolder;
            }

            & .infoinicial__descripcion {
                font-size: 24px;
            }
        }
    }

    /* Pie De Página */
    .pieDePagina {
        & .infoPagina {
            & .infoPagina__anyo {
                width: 21rem;

                & .anyo__figura {
                    width: 10rem;
                    height: 3.1rem;
                    font-size: var(--sz_letraSemigrande);

                    &::before {
                        width: 19rem;
                    }

                    &::after {
                        width: 11rem;
                        font-size: 30px;
                    }
                }
            }

            & .infoPagina__lugar {
                width: 21rem;

                & .lugar__figura {
                    width: 10rem;
                    height: 3rem;
                    font-size: var(--sz_letraSemigrande);

                    &::before {
                        width: 19rem;
                    }

                    &::after {
                        width: 11rem;
                        text-align: center;
                    }
                }
            }
        }

        & .links {
            & .links__mapaSitio, .links__recursos, .links__legal {
                margin-bottom: 2.3rem;

                & .titulo {
                    font-size: 34px;
                }

                & .enlaces {
                    font-size: var(--sz_letraSemigrande);

                    & .item {
                        & a {
                            &:hover {
                                font-size: calc(var(--sz_letraGrande) + 2px);
                            }
                        }
                    }
                }
            }
        }

        & .redeSociales {
            & .redeSociales__instagram, .redeSociales__cafe, .redeSociales__github, .redeSociales__youtube {
                & img {
                    width: 2.8rem;
                    height: 2.8rem;
                }
            }

            & .redeSociales__youtube {
                & img {
                    width: 3.8rem;
                }
            }
        }
    }
}

@media (max-width: 480px) and (min-width: 410px) {
    & .encabezado {
        & .hero {
            & .hero__textos {
                & .textos__titulo {
                    font-size: calc(var(--sz_letraGrande) + 5px);
                }

                & .textos__descripcion {
                    font-size: calc(var(--sz_letraGrande) + 8px);
                }
            }
        }
    }

    /* Pie De Página */
    .pieDePagina {
        & .infoPagina {
            & .infoPagina__anyo {
                width: 21rem;

                & .anyo__figura {
                    width: 10rem;
                    height: 3.12rem;
                    font-size: var(--sz_letraSemigrande);

                    &::before {
                        width: 20rem;
                    }

                    &::after {
                        width: 11.4rem;
                        font-size: 30px;
                    }
                }
            }

            & .infoPagina__lugar {
                width: 21rem;

                & .lugar__figura {
                    width: 10rem;
                    height: 3rem;
                    font-size: var(--sz_letraSemigrande);

                    &::before {
                        width: 20rem;
                    }

                    &::after {
                        width: 11rem;
                        text-align: center;
                    }
                }
            }
        }

        & .sloganWeb {
            & .sloganWeb__texto {
                & .texto__frase {
                    font-size: var(--sz_letraSubtitulo);
                }

                & .texto__marcaLogo {
                    font-size: calc(var(--sz_letraSubtitulo) + 1px);
                }
            }
        }

        & .links {
            & .links__mapaSitio, .links__recursos, .links__legal {
                margin-bottom: 2.3rem;

                & .titulo {
                    font-size: 34px;
                }

                & .enlaces {
                    font-size: var(--sz_letraSemigrande);

                    & .item {
                        & a {
                            &:hover {
                                font-size: calc(var(--sz_letraGrande) + 2px);
                            }
                        }
                    }
                }
            }
        }

        & .redeSociales {
            & .redeSociales__instagram, .redeSociales__cafe, .redeSociales__github, .redeSociales__youtube {
                & img {
                    width: 2.8rem;
                    height: 2.8rem;
                }
            }

            & .redeSociales__youtube {
                & img {
                    width: 3.8rem;
                }
            }
        }
    }
}