<!DOCTYPE html>

<html lang="es">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/static/css/configPage.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/icon/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/icon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/icon/favicon-16x16.png" />
        <link rel="manifest" href="/static/assets/icon/site.webmanifest" />
        <script src="/static/js/app.js" type="module" defer></script>
        <title>KardiAeva | Bienvenido</title>
    </head>

    <body>
        <form-credenciales></form-credenciales>
    </body>

</html>